@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-medical-blue: #3A86FF;
  --color-medical-teal: #2EC4B6;
  --color-medical-green: #8BD3DD;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
